*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    max-width: 400px;
    width: 100%;
}

.box .search-box{
    height: 50px;
    position: relative;
    max-width: 50px;
    margin: auto;
    margin-left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.25);
    border-radius: 25px;
    transition: all 0.5s ease;
}
#check:checked ~ .search-box{
    max-width: 380px;
}

.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    outline: none;
    border: none;
    padding-left: 25px;
    font-size: 18px;
}
.search-box .icon{
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: #fff;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.25);
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: #ff6760;
    font-size: 20px;
}
#check:checked ~ .search-box .icon{
  background:#ff6760; color:#fff;
}
#check{
    display: none;
}






